*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: black;
}

.container{
    width: 1000px;
    margin:0 auto;
    background-color: white;
}

.paper{
    max-width: 70%;
    margin:0 auto;
}

header{
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: rgb(82, 148, 247);
}

.logo{
    width: 25%;
    padding-top: 10px;
}

main{
    margin-top: 20px;
}

.autore{
    color: grey;
}

.tim{
    width: 45%;
    height: 250px;
}
 
.Photographer{
    font-size: 8px;
}

p, table{
    font-size: 12px;
}

span {
    background-color: yellow;
}

section, ul{
    margin-top: 15px;
}

ul{
    font-size: 11.5px;
    padding-left: 13px;
}

li{
    margin: 5px;
}

table{
    font-size: 12px;
    width: 100%;
    text-align: left;
    
}

.text-long{
    width: 60%;
}

thead{
    background-color: rgb(53, 168, 197);
    color: white;
    margin:0;
}

.color{
    background-color: rgb(191, 236, 253);
}

td, th{
    border: none;
}